
.aboutdashboardtext,
textarea {
  white-space: break-spaces;
  width: 100%;
  height: inherit;
}
.aboutdashboardimage {
  display: flex;
  flex-direction: column;
}



.recommendedDashboardForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.recommendedDeleteButton {
  background-color: #f14a4a6b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboardSuplier{
  height: auto;
  gap: 20px;
}

.barJuiceSupplierForm {
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.barJuiceSupplierFormInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.barJuiceSupplierFormInput-field input {
  width: 95%;
  padding: 5px;
}
.barJuiceSupplierFormInput-field textarea {
  width: 95%;
  padding: 5px;
}
.barJuiceSupplierFormExample {
  height: 2.5rem;
  overflow-y: scroll;
  width: 326px;
}
.barJuiceSupplierFormExample::-webkit-scrollbar {
  display: block;
  width: 4px;
  height: 8px;
}
.barJuiceSupplierFormExample::-webkit-scrollbar-thumb {
  background: #f0ea22;
  border-radius: 10px;
}
.barJuiceSupplierFormExample::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
.barJuiceSupplierFormInput-Submitfield {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}








.offerFormInputs {
  height: 202px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
