.CategoriesBar {
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 10px;
  display: flex;
  justify-content: center;
}
.sizePriceItem{
  display: flex;
  gap: 5px;
  width: 100%;
}
.sizePriceItemInput {
  display: flex;
}

.sizePriceItem button {
  background-color: #aa0000;
  color: white;
}
.CategoriesContainer {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  overflow-y: scroll;
}

.Category {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 10px;
  border: 2px solid;
  border-radius: 20px;
}
.Category:hover {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}
.CategoriesContainer::-webkit-scrollbar {
  display: none;
}

.Items {
  height: fit-content;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.dashboardItemImage {
  object-fit: cover;
  height: 200px;
  border-radius: 5px 5px 5px 0px;
}
.dashboardItemDeleteButton {
  background-color: #f14a4a6b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show-more {
  cursor: pointer;
  color: #626265;
}
.orderButton {
  padding: 5px;
}
.orderButton:hover {
  cursor: pointer;
}
.dashbaordItem {
  height: fit-content;
}
.dashboardItemInput {
  padding: 5px 5px;
  width: 100%;
}
.itemCardform {
  border: 1px solid;
  padding: 5px;
  width: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  height: 410px;
}
.itemFormInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ErrorMessageItemUpdate {
  background-color: rgb(210, 119, 119);
  padding: 5px;
  border-radius: 4px;
}
.SuccessMessageItemUpdate {
  background-color: rgb(167, 252, 167);
  padding: 5px;
  border-radius: 4px;
}
.dashboardItemContent {
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .Items {
    padding-left: 10px;
    padding-right: 10px;
  }

  .CategoriesContainer {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 350px) {
  .Items {
    padding-left: 2px;
    padding-right: 2px;
  }
}
