.Cart {
  padding: 20px;
  min-height: 70vh;
  display: grid;
}
.cartHeader {
  display: flex;
  list-style: none;
  width: 95vw;
  justify-content: space-between;
  border-bottom: solid 1px;
  padding: 5px;
  height: 40px;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  height: fit-content;
  align-items: center;
  border-bottom: solid 1px;
  padding: 3px;
  width: 95vw;
}
.cartItemDescription {
  width: 35vw;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5vw;
}
.cartItemDescriptio {
  width: 35vw;
  text-align: center;
}
.cartItemDescription img {
  height: 100px;
}
.cartItemQuantityEdit {
  width: 15vw;
  display: flex;
  justify-content: center;
}
.cartItemQuantityEdit p {
  border: 1px solid;
  padding: 3px 7px;
}
.cartItemPrice {
  width: 20vw;
  text-align: center;
}
.cartInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20px;
  width: 95vw;
}
.cartInfo div div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid;
  padding: 5px;
  width: 50vh;
}
.cartInfo div input {
  padding: 5px 5px;
  width: 25vw;
}
.cartInfo button {
  padding: 10px 5px;
}
.clearCartButton {
  background-color: rgb(170, 0, 0);
  color: white;
}
.cartButtons {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.deletePopup {
  background-color: white;
  position: absolute;
  height: 199px;
  width: 70vw;
  margin-top: 10vh;
  margin-left: 10vw;
  border: solid;
}

.deletePopupContent {
  display: flex;
  flex-direction: column;
  height: 178px;
  padding: 10px;
  justify-content: space-between;
}
.deletePopupButtonsContainer {
  display: flex;
  align-self: flex-end;
  width: 111px;
  justify-content: space-between;
  gap: 5px;
  margin-right: 5px;
}
.deletePopupButtons {
  font-size: large;
  font-weight: 600;
  padding: 5px 10px;
}
.deletePopupButtons.yes {
  background-color: #65ff62;
  color: black;
}
.deletePopupButtons.no {
  background-color: rgb(170, 0, 0);
  color: white;
}
.orderPopup {
  background-color: white;
  position: absolute;
  height: 199px;
  width: 70vw;
  margin-top: 10vh;
  margin-left: 10vw;
  border: solid;
}

.orderPopupContent {
  display: flex;
  flex-direction: column;
  height: 178px;
  padding: 10px;
  justify-content: space-between;
}
.orderPopupButtonsContainer {
  display: flex;
  align-self: flex-end;
  width: 200px;
  justify-content: space-between;
  gap: 5px;
}
.orderPopupButtons {
  font-size: large;
  font-weight: 600;
  background-color: white;
}
.orderPopupButtons.yes {
  color: green;
  border: 2px green solid;
}
.orderPopupButtons.no {
  color: rgb(170, 0, 0);
  border: 2px rgb(170, 0, 0) solid;
}
@media screen and (max-width: 650px) {
  .cartInfo {
    flex-direction: column;
    height: 230px;
  }
  .orderPopup {
    height: 230px;
  }

  .orderPopupContent {
    height: 210px;
  }
}
@media screen and (max-width: 400px) {
  .Cart {
    padding: 15px;
  }
  .cartHeader {
    width: 90vw;
  }
  .cartItem {
    width: 90vw;
  }
  .cartInfo div div {
    width: 45vh;
  }
}
