/* Header.css */
.Header .Header1 {
  height: 70px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.logo {
  color: white;
}

.headerNavlinks {
  gap: 10px;
  display: flex;
  align-items: center;
}

.headersNavlink {
  text-decoration: none;
  color: white;
  position: relative;
  text-decoration: none;
  padding: 2px;
  display: flex;
}

.headersNavlink::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition-duration: 500ms;
}

.headersNavlink:hover::before {
  width: 100%;
}

.headersNavlink.active::before {
  width: 100%;
}

.headersNavlinkCart {
  width: 70px;
}

.sm-menu-container {
  display: none;
}
.respociveNavIcons {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media screen and (max-width: 768px) {
  .Header .Header1 {
    display: none;
  }

  .nav-card {
    display: none;
  }

  .sm-links {
    height: 70px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
  }

  .sm-links a {
    text-decoration: none;
  }

  .sm-menu-container {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .Nav-Logo {
    width: 6rem;
    margin-left: 15px;
  }
}
