.carousel {
  height: 70vh;
}
.gif{
  background:url("https://i.gifer.com/K9iV.gif") no-repeat ;
  width: 100vw;
  position: absolute;
}
.leaflet-container {
  height: 300px;
  width: 300px;
}
.about {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.aboutContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50%;
  width: 40%;
}
.recommended {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mostRecommended {
  gap: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 700px;
}
.recommendedCard {
  padding-top: 5px;
  width: 200px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #0000001a;
  align-items: center;
  border-radius: 3px;
  background-color: #f2fce933;
  box-shadow: 5px 2px 9px #0000001a;
}
.recommendedImage {
  width: 150px;
  object-fit: cover;
  height: 150px;
  border-radius: 50%;
}
.recommendedContent {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
  width: 95%;
}
.recommendedDescription {
  height: 2.5rem;
  overflow: hidden;
}
.barJuiceSuppliers {
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.barJuiceSuppliersCarousel {
  gap: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  width: 80%;
}
.barJuiceSuppliersContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
  width: 55%;
  height: 80%;
}
.barJuiceSuppliersContent p {
  height: 2.4rem;
  overflow: hidden;
}
.barJuiceSuppliersIcons {
  display: flex;
  flex-direction: column;
  height: 50px;
}
.barJuiceSuppliersImage {
  width: 150px;
  object-fit: cover;
  height: 150px;
  border-radius: 50%;
}
.barJuiceSuppliersCard {
  width: 50%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  border: 1px solid #0000001a;
  align-items: center;
  border-radius: 3px;
  background-color: #f2fce933;
  box-shadow: 5px 2px 9px #0000001a;
}
.offers {
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mostOffers {
  gap: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  width: 75%;
}

.offerCard {
  width: 80%;
  height: 270px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #0000001a;
  border-radius: 3px;
  background-color: #f2fce933;
  box-shadow: 5px 2px 9px #0000001a;
}

.offerContent {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
  width: 75%;
  height: 100%;
}

.offerImage {
  height: 100%;
  width: 300px;
  object-fit: contain;
}
.NoOffer {
  background-color: rgba(0, 0, 0, 0.852);
  height: 35vh;
  display: flex;
  margin: 50px auto;
  padding: 0 auto;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  border-radius: 25px;
  width: 50vw;
  text-align: center;
}
@media screen and (max-width: 1050px) {
  .barJuiceSuppliersCard {
    flex-direction: column-reverse;
    width: 250px;
    height: 300px;
    justify-content: space-between;
    padding-top: 5px;
  }
  .barJuiceSuppliers {
    height: 61vh;
  }
  .barJuiceSuppliersContent {
    width: 90%;
    height: 120px;
  }
}
@media screen and (max-width: 750px) {
  .mostRecommended {
    width: 90vw;
  }

  .recommendedCard {
    width: 190px;
    padding: 5px 10px;
  }
  
  .offerDiscription {
    height: 2.5rem;
    overflow: hidden;
  }
  .offers {
    height: 70vh;
  }
  .offerCard {
    flex-direction: column-reverse;
    height: 90%;
    align-items: center;
  }
  .offerImage {
    height: 68%;
    object-fit: cover;
  }
  .offerContent {
    width: 90%;
  }
}
@media screen and (max-width: 650px) {
  .aboutImage {
    width: 300px;
  }
  .aboutContent {
    height: 60%;
  }

  .recommendedCard {
    gap: 5px 20px;
  }
}
@media screen and (max-width: 550px) {
  .mostRecommended {
    gap: 20px;
    overflow-y: scroll;
    justify-content: flex-start;
    padding: 10px;
    overflow-y: hidden;
  }
  .mostRecommended::-webkit-scrollbar {
    display: block;
    width: 4px;
    height: 8px;
  }
  .mostRecommended::-webkit-scrollbar-thumb {
    background: #51fd08;
    border-radius: 10px;
  }
  .mostRecommended::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
  }

  .aboutImage {
    width: 200px;
  }
  .aboutContent {
    height: 70%;
  }
  .offerCard {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .aboutImage {
    display: none;
  }
  .aboutContent {
    height: 50%;
    width: 80%;
  }
  .about {
    height: 50vh;
  }
  .recommendedCard {
    width: 165px;
  }

  .mostOffers {
    width: 350px;
  }
  .barJuiceSuppliersCarousel {
    width: 98%;
  }
}
@media screen and (max-width: 390px) {
  .mostRecommended {
    gap: 10px;
  }

  .recommendedImage {
    height: 142px;
    padding: 5px;
    width: 140px;
  }
}
