.CategoriesBar {
  border-top: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.CategoriesContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  overflow-y: scroll;
}

.Category {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 10px;
  border: 2px solid;
  border-radius: 20px;
}
.categories {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.SortContainer {
  display: flex;
  gap: 5px;
}
.closedFilter {
  display: none;
}
.filtericon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3px;
}
.Category:hover {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}
.CategoriesContainer::-webkit-scrollbar {
  display: none;
}

.Items {
  height: fit-content;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.itemCard {
  padding-top: 5px;
  width: 200px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #0000001a;
  align-items: center;
  border-radius: 3px;
  background-color: #f2fce933;
  box-shadow: 5px 2px 9px #0000001a;
}
.itemImage {
  width: 150px;
  object-fit: cover;
  height: 150px;
  border-radius: 50%;
}
.itemCardTitlePrice {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 5px;
  width: 95%;
}

.show-more {
  cursor: pointer;
  color: #626265;
}
.orderButton {
  padding: 5px;
}
.orderButton-Unavailable {
  background-color: rgb(170, 0, 0);
  color: white;
  text-align: center;
  padding: 5px;
}
.orderButton:hover {
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .Items {
    padding-left: 10px;
    padding-right: 10px;
  }

  .itemImage {
    width: 150px;
    height: 150px;
  }
  .filtericon {
    width: 95%;
  }
}

@media only screen and (max-width: 450px) {
  .itemCard {
    width: 165px;
  }
  .itemImage {
    height: 142px;
    padding: 5px;
    width: 140px;
  }
}
@media only screen and (max-width: 350px) {
  .Items {
    padding-left: 2px;
    padding-right: 2px;
  }
  .itemCard {
    width: 130px;
  }
  .itemImage {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (max-width: 320px) {
  .itemCard {
    width: 120px;
  }
}
@media only screen and (max-width: 300px) {
  .itemCard {
    width: 100px;
  }
}
