.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 59vh;
}
.item img {
  height: 100%;
  width: 400px;
  object-fit: contain;
}
.itemContent {
  width: 40%;
  margin-right: 10vw;
  gap: 10px;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}
.quantityAddToCartButtonContainer {
  display: flex;
  gap: 10px;
}
.quantityAddToCartButtonContainer button,
.quantityAddToCartButtonContainer input {
  padding: 5px 10px;
}
.ingredientsContainer {
  display: flex;
  flex-direction: column;
}
.SuccessMessageitem {
  background-color: rgb(167, 252, 167);
  padding: 5px;
  border-radius: 4px;
}
.ErrorMessageitem {
  background-color: rgb(210, 119, 119);
  padding: 5px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .item {
    flex-direction: column;
    height: 100%;
    gap: 15px;
    padding-bottom: 20px;
  }
  .itemContent {
    width: 80%;
    margin-right: 0vw;
    gap: 20px;
  }
  .item img {
    width: 62%;
    object-fit: contain;
  }
}
@media screen and (max-width: 600px) {
  .item img {
    width: 100%;
  }
}
