.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #65ff62;
}
.goback {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 10px;
}

.Loginbox {
  height: 350px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  padding: 30px;
}
.LoginForm {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ErrorMessageLogin {
  position: absolute;
  background-color: rgb(210, 119, 119);
  margin-bottom: 120px;
  padding: 5px;
  border-radius: 4px;
}
.SuccessMessageLogin {
  position: absolute;
  background-color: rgb(167, 252, 167);
  margin-bottom: 130px;
  padding: 5px;
  border-radius: 4px;
}
.LoginInputs {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Logininput {
  padding: 5px 10px;
  width: 197px;
  border-radius: 2px;
  border: 1px solid grey;
}
.LoginButton-txt {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.LoginButton {
  padding: 5px;
  border: 1px none;
  border-radius: 2px;
  background-color: #65ff62;
}
